:root {
	--content-padding: 1vh;
}

/*
  * Body
*/
html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	color: white;

	height: 100%;
	width: 100%;
}
h1 {
	font-family: 'Gotham-Bold';
	font-size: clamp(20px,5vw,50px);
}
h3 {
	font-family: 'Gotham-Bold';
	font-size: clamp(20px,5vw,50px);
}
p {
	font-weight: 900;
	font-family: 'Gotham-Thin';
	font-size: clamp(20px,2vw,30px);
}
span.eng {
	font-weight: 500;
}

/*
  * Fonts
*/
@font-face {
	font-family: "Gotham-Bold";
	src: url('../font/Gotham-Bold.otf');
}	
@font-face {
	font-family: "Gotham-Thin";
    src: url('../font/Gotham-Thin.otf');
}

/*
  * Webiste content
*/
.content {
	background: rgb(255,27,0);
	background: radial-gradient(circle, rgba(255,27,0,1) 0%, rgba(255,90,0,1) 100%);

	padding: var(--content-padding);

	height: calc(100% - 2 * var(--content-padding));
	width: calc(100% - 2 * var(--content-padding));
}

.container {
	background: url("../minecraft.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: var(--content-padding);

	height: 100%;
}

/*
  * Fillers
  *
  * It's used to center the logo and text.
  * I'm too lazy to come up with something else.
*/
.filler-1 {
	height: 25%;
}
.filler-2 {
	height: 15%;
}

/*
  * columns; Grid box
*/
.columns {
	height: 50%;
	overflow: hidden;
}

/*
  * Column; Logo 
*/
.column-logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.column-logo > img {
	height: auto;
	width: 55%;
}

/*
  * Column; Paragraph
*/
.column-text {
	float: left;
	width: calc(60% - 36px); /* Include margin */
	height: 100%;
	margin-right: 36px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*
  * Social Media
*/
.fa {
	color: rgb(145, 145, 145);
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	height: 30px;
	width: 30px;
	margin-right: 5px;
  }
  .fa:hover {
	opacity: 0.7;
  }
  /* Uptime */
  .fa-wrench {
	border-radius: 50%;
  	background: radial-gradient(circle, rgba(255,27,0,1) 0%, rgba(255,90,0,1) 100%);
  	color: white;
  } 
  /* Feedbacky */
  .fa-comment {
	border-radius: 50%;
	background: radial-gradient(circle, rgba(255,27,0,1) 0%, rgba(255,90,0,1) 100%);
	color: white;
  }
  /* Hastebin */
  .fa-note-sticky{
	border-radius: 50%;
	background: radial-gradient(circle, rgba(255,27,0,1) 0%, rgba(255,90,0,1) 100%);
	color: white;
  }

/*
  * Footer
*/
.footer {
	position: relative;

	height: 10%;
	width: 100%;

	text-align: center;
}
.footer p {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
}

/*
  * Responsive 
*/
@media screen and (max-width: 996px) {
	.filler-1, .filler-2 {
		height: 0%;
	}
    .columns {
        height: auto;
    }
	.column-logo, .column-text {
		float: none;
		margin: 32px 16px;
		width: calc(100% - 2 * 16px); /* include margin */
	}
	.fa {
		font-size: 2vh;
		padding: 14px;
		height: 2vh;
		width: 2vh;
	}
	.footer {
		margin-top: 4vh;
	}
	.footer {
		font-size: 2.2vw;
	}
}