/*
  * ::: Contents ::: 
  * @Matou0014, @erpixxx
*/
.page {
	background: var(--exvoid-red);
	background: radial-gradient(circle, var(--exvoid-red) 0%, var(--exvoid-orange) 100%);
	padding: var(--page-border);
	height: 100%;
	width: 100%;
}
.bg-image {
	background: url("../png/bkgnd/minecraft_2.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: var(--page-border);
	height: 100%;
	width: 100%;
}
.curtain {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999;
}
.curtain-black {
	background-color: var(--black);
	bottom: 100%;

	animation: blackCurtainSlide;
	animation-duration: 1s;
}
.curtain-gradient {
	background: var(--exvoid-red);
	background: radial-gradient(circle, var(--exvoid-red) 0%, var(--exvoid-orange) 100%);
	bottom: 100%;

	animation: gradientCurtainSlide;
	animation-duration: 1.5s;
}

/*
  * ::: Container :::
  * "We use it to add horizontal padding to all inner elements. @erpixx"
*/
.container {
	height: 100%;
	width: 100%;
	padding: 0 120px;
}

/*
  * ::: Logo :::
  * @Matou0014, @erpixx
*/
.logo {
	display: flex;
	justify-content: center;
	padding: 25px 0;
	height: 20%;
	width: 100%;
}
.logo__img {
	height: 175px;
	max-height: 100%;
	width: 100%;
	object-fit: contain;

	animation: logoDashIn 3s;
}

/*
  * ::: Header :::
  * @erpixxx
*/
.header {
	align-items: center;
	display: flex;
	height: 15%;
	width: 100%;
	justify-content: center;

	animation-name: fadeIn, rotate;
	animation-duration: 2s, 1s;
	animation-delay: 2.2s, 2.2s;
}

/*
  * ::: Texts :::
  * @erpixxx
*/
.texts {
	border-radius: 50px;
	padding: 5px 0;
	height: 35%;
	width: 100%;

	animation: fadeIn 2s;
	animation-delay: 2.2s;
}
.text {
	align-items: center;
	float: left;
	display: flex;
	flex-direction: column;
	font-size: 130%;
	justify-content: center;
	padding: 0 20px;
    text-align: center;
	height: 100%;
	width: 50%;
}
.text__fr {
	box-shadow: 2px 0px 0px 0px var(--white);
}
.text__flag {
	font-size: 150%;
}

/*	
  * ::: Services :::
  * @erpixxx, @Matou0014
*/
.services {
	float: left;
	text-align: center;
	height: 20%;
	width: 100%;

	animation: fadeIn 2s;
	animation-delay: 2.2s;
}
.services__text {
	padding: 15px 0;
	font-weight: 900;
}
.services__links {
	align-items: center;
	display: flex;
	justify-content: center;
}
.service {
	background-color: rgba(0, 0, 0, 0.15);
	/*border: 2px solid red;* "I think the buttons looks better without any border. @Matou0014" */ 
	border-radius: 12px;
	color: var(--white);
	font-size: 80%;
	padding: 20px 12px;
	margin: 0 10px 20px 10px;
	text-align: center;
	text-decoration: none;
	width: 200px;

	&:hover {
		background: var(--exvoid-red);
		background: linear-gradient(27.5deg, var(--exvoid-red) 0%, var(--exvoid-orange) 100%);
	}
}
.service__icon {
	float: left;
	font-size: 110%;
	padding: 6px 0;
}
.service__label {
	font-family: "Gotham-Bold";
}

/*
  * ::: Footer :::
  * @Matou0014 @erpixxx
*/
.footer {
	clear: both;
	font-size: 55%;
	display: flex;
	flex-direction: column;
	height: 10%;
	justify-content: flex-end;
	align-items: center;
}
.footer__text {
	margin: 1px 0;
}

/*
  * ::: Mobile Compatibility :::
  * @erpixxx
*/
@media screen and (max-width: 1048px) {
	.container {
		padding: 0;
	}
}
@media screen and (max-width: 824px), screen and (max-height: 748px) {
	.page {
		height: auto;
	}
	.bg-image {
		height: auto;
	}
	.container {
		height: auto;
	}
	.logo {
		float: left;
		height: auto;
	}
	.logo__img {
		animation: none;
		width: 70vw;
	}
	.header {
		float: left;
		height: auto;
	}
	.texts {
		float: left;
		height: auto;
	}
	.text {
		width: 100%;
	}
	.text__fr {
		box-shadow: none;
	}
	.services__links {
		float: left;
		flex-direction: column;
		margin-bottom: 30px;
		height: auto;
		width: 100%;
	}
	.service {
		font-size: 100%;
		margin: 10px 0;
		height: auto;
		width: 70%;
	}
	.footer {
		clear: both;
		height: auto;	
	}
	.footer__text {
		font-size: 2.5vw;
	}
}

/*
  * ::: Animations :::
  * @erpixxx
*/
@keyframes blackCurtainSlide {
	from {
		bottom: 0;
	}
	to {
		bottom: 100%;
	}
}
@keyframes gradientCurtainSlide {
	from {
		bottom: 0;
	}
	to {
		bottom: 100%;
	}
}
@keyframes logoDashIn {
	0% {
		margin: -70px 0;
		padding: 70px 0;
	}
	90% {
		margin: 0;
		padding: -100px 0;
	}
	100% {
		margin: 0;
		padding: 0;
	}
}
@keyframes rotate {
	0% {
		rotate: 0deg;
	}
	20% {
		rotate: 7.5deg;
	}
	40% {
		rotate: -7.5deg;
	}
	60% {
		rotate: 7.5deg;
	}
	80% {
		rotate: -7.5deg;
	}
	100% {
		rotate: 0deg;
	}
}
