/*
  * ::: Contents ::: 
  * @Matou0014, @erpixxx
*/
.page {
	background-image: url("../png/bkgnd/minecraft_3.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	
	padding: var(--page-border);
	height: 100%;
	width: 100%;
}
.curtain {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999;
}
.curtain-black {
	background-color: var(--black);
	bottom: 100%;

	animation: blackCurtainSlide;
	animation-duration: 1s;
}
.curtain-gradient {
	background: var(--exvoid-red);
	background: radial-gradient(circle, var(--exvoid-red) 0%, var(--exvoid-orange) 100%);
	bottom: 100%;

	animation: gradientCurtainSlide;
	animation-duration: 1.5s;
}

/*
  * ::: Container :::
  * "We use it to add horizontal padding to all inner elements. @erpixx"
*/
.container {
	background-color: white;
	background: linear-gradient(white, white) padding-box,
	linear-gradient(to right, var(--exvoid-red), var(--exvoid-orange)) border-box;
	border: 3px solid transparent;
	border-radius: var(--page-border);
	margin: auto;
	width: 50%;
	padding: 10px;
}

/*
  * ::: Form contents ::: 
  * @Matou0014
*/
.form__modal {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.form__img {
	display: flex;
	justify-content: center;
	padding: 25px 0;
	height: 250px;
	width: 100%;
	object-fit: contain;
}
.form__content{
	color: black;
	align-items: center;
	float: left;
	display: flex;
	flex-direction: column;
	font-size: 130%;
	justify-content: center;
	padding: 0 20px;
    text-align: center;
	height: 100%;
	width: 50%;
}

/*
  * ::: Footer :::
  * @Matou0014 @erpixxx
*/
.footer {
	clear: both;
	font-size: 55%;
	display: flex;
	flex-direction: column;
	height: 10%;
	justify-content: flex-end;
	align-items: center;
	position:fixed;
	bottom:210px;
}
.footer__text {
	margin: 1px 0;
}

/*
  * ::: Mobile Compatibility :::
  * @erpixxx @Matou0014
  * "Very partially implemented, will go over it soon. @Matou0014"
*/
@media screen and (max-width: 1048px) {
	.container {
		padding: 0;
	}
}
@media screen and (max-width: 824px), screen and (max-height: 748px) {
	.page {
		height: auto;
	}
	.form__modal {
		height: auto;
	}
	.container {
		height: auto;
	}
	.form__img {
		animation: none;
		width: 70vw;
	}
	.form__content {
		float: left;
		height: auto;
	}
	.form__content {
		width: 100%;
	}
	.form__content {
		box-shadow: none;
	}
	.footer {
		clear: both;
		height: auto;	
	}
	.footer__text {
		font-size: 2.5vw;
	}
}

/*
  * ::: Animations :::
  * @erpixxx
*/
@keyframes blackCurtainSlide {
	from {
		bottom: 0;
	}
	to {
		bottom: 100%;
	}
}
@keyframes gradientCurtainSlide {
	from {
		bottom: 0;
	}
	to {
		bottom: 100%;
	}
}
@keyframes rotate {
	0% {
		rotate: 0deg;
	}
	20% {
		rotate: 7.5deg;
	}
	40% {
		rotate: -7.5deg;
	}
	60% {
		rotate: 7.5deg;
	}
	80% {
		rotate: -7.5deg;
	}
	100% {
		rotate: 0deg;
	}
}