/*
  * Body
*/
body {
	margin-inline: clamp(10px,50px,100px);
	background: rgb(255,27,0);
	background: radial-gradient(circle, rgba(255,27,0,1) 0%, rgba(255,90,0,1) 100%);
	color: white;
}
h1 {
	font-family: 'Gotham-Bold';
	font-size: clamp(20px,5vw,50px);
}
h3 {
	font-family: 'Gotham-Bold';
	font-size: clamp(20px,5vw,50px);
}
p {
	font-weight: 900;
	font-family: 'Gotham-Thin';
	font-size: clamp(20px,2vw,30px);
}
span.eng {
	font-weight: 500;
}

/*
  * Fonts
*/
@font-face {
	font-family: "Gotham-Bold";
	src: url('../font/Gotham-Bold.otf');
}	
@font-face {
	font-family: "Gotham-Thin";
    src: url('../font/Gotham-Thin.otf');
}

/*
  * Content; Grid box
*/
.content {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
    align-items: center;
    justify-content: center;
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	border-radius: 15px;
	background: url("../minecraft.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
}

/*
  * Column; Logo 
*/
.column-logo {
	display: flex;
	flex-grow: 4;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
	margin-right: -100px;
	margin-left: -100px;
}
.column-logo:after {
	flex: 50%;
}


/*
  * Column; Paragraph
*/
.column-text {
	display: block;
	flex-grow: 1;
    justify-content: left;
    margin-right: 50px;
}
.column-text:after {
	flex: 50%;
}

.links {
	display: flex;
}

/*
  * Uptime
*/

/*
  * Social Media
*/
.fa {
	color: rgb(145, 145, 145);
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	height: 30px;
	width: 30px;
	margin-right: 5px;
  }
  .fa:hover {
	opacity: 0.7;
  }
  /* Uptime */
  .fa-wrench {
	border-radius: 50%;
  	background: radial-gradient(circle, rgba(255,27,0,1) 0%, rgba(255,90,0,1) 100%);
  	color: white;
  } 
  /* Feedbacky */
  .fa-comment {
	border-radius: 50%;
	background: radial-gradient(circle, rgba(255,27,0,1) 0%, rgba(255,90,0,1) 100%);
	color: white;
  }
  /* Hastebin */
  .fa-note-sticky{
	border-radius: 50%;
	background: radial-gradient(circle, rgba(255,27,0,1) 0%, rgba(255,90,0,1) 100%);
	color: white;
  }

/*
  * Footer
*/
.footer {
	display: flex;
	padding: 0;
	margin-bottom: 20px;
	align-items: center;
    justify-content: center;
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
}
.footer p {
	white-space: nowrap;
	font-weight: 900;
	font-size: clamp(11px,2.5vw,15.5px);
	text-transform: uppercase;
}

/*	border-right: 2px solid white;*/

/*
  * Responsive 
*/
@media screen and (max-width: 996px) {
    .content {
        flex-direction: column;
		padding: 20px;
    }
	.column-logo {
		height: 40%;
	}
	.column-text {
		height: 60%;
		margin-right: 0;
	}
	.column-text p {
		font-size: 2.5vh;
	}
	.fa {
		font-size: 2vh;
		padding: 14px;
		height: 2vh;
		width: 2vh;
	}
	.footer p {
		font-size: 2.2vw;
		font-weight: normal;
	}
}