/* Font (Global) */
@font-face {
	font-family: "Gotham-Bold";
	src: url('../font/Gotham-Bold.otf');
}	

@font-face {
	font-family: "Gotham-Thin";
    src: url('../font/Gotham-Thin.otf');
}

/* Page */
body {
	background-image: url('../banner.png');
	color: white;
    margin-left: 100px;
    margin-right: 100px;
}

/* Heading */
h1 {
	text-align: center;
	font-size: 50px;
	font-family: 'Gotham-Bold';
}

/* Paragraphs */
p {
	text-align: center;
	line-height: 1.3;
	font-size: 25px;
	font-family: 'Gotham-Thin';
}

/*Logo @ 34*/
.logo img {
	display: block;
	margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 100px ; 
}

/* Footer @ 45 */
.footer p {
	font-weight: 900;
	font-size: 13.5px;
	text-transform: uppercase;
}

/* --- Form --- */

.intro > h1 {
	margin-left: 10px;
	margin-bottom: -15px;
	text-align: left;
	font-size: 40px;
	font-family: 'Gotham-Bold';
}

.intro > h5 {
	margin-left: 10px;
	margin-bottom: -15px;
	text-align: left;
	font-size: 20px;
	font-family: 'Gotham-Thin';
}

.intro > p {
	margin-top: 35px;
	margin-left: 10px;
	text-align: left;
	line-height: 1.3;
	font-size: 20px;
	font-family: 'Gotham-Thin';
}

/*Logo @ 34*/
.logo-form img {
	display: block;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.criteria > h1 {
	margin-left: 10px;
	margin-bottom: -15px;
	text-align: left;
	font-size: 40px;
	font-family: 'Gotham-Bold';
}

.criteria > h5 {
	margin-left: 10px;
	margin-bottom: -15px;
	text-align: left;
	font-size: 20px;
	font-family: 'Gotham-Thin';
}

.criteria > p {
	margin-top: 50px;
	margin-left: 10px;
	text-align: left;
	line-height: 1.3;
	font-size: 20px;
	font-family: 'Gotham-Thin';
}




/* Footer @ 45 */
.footer p {
	font-weight: 900;
	font-size: 13.5px;
	text-transform: uppercase;
}